:root {
    --bg_orang: rgb(255, 139, 0);
    --bg_whitesmoke: rgb(255, 255, 255);
    --bg_grey: rgb(132, 135, 135);
}

html, body {
    margin: 0;
    padding: 0;
}

.contentContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.footer,
.header {
    background-color: var(--bg_orang);
    height: 6rem;
    align-items: center;
    display: flex;
}

.logo {
    height: 80%;
    margin: 0;
    margin-left: 2rem;
}

.noodlesImg {
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    background-color: var(--bg_whitesmoke);
    margin-top: 7rem;
    object-fit: cover;
}

.containerRestaurantImg {
    background-image: url("./assets/img/restaurant.jpg");
    height: 12rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.restoranteName,
.categories{
    margin: 0 2rem;
}

.restoranteName p{
    font-size: 20px;
    margin: 0;
}

.restoranteName h1{
    font-size: 32px;
}

.restoranteName p {
    color: var(--bg_orang);
}

.categories img {
    width: 60px;
}

.arrow a{
font-size: 20px;
font-weight: bold;
color: var(--bg_grey);
text-decoration: none;
margin-left: 10px;
}
