:root {
    --bg_orang: rgb(255, 139, 0);
    --bg_darkorange: rgb(159, 89, 3);
    --bg_whitesmoke: rgb(255, 255, 255);
    --bg_grey: rgb(132, 135, 135);
    --bg_milck: rgb(229, 211, 188);
}

html, body {
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 2rem;
    margin: 0;
}

.contentContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.footer,
.header {
    background-color: var(--bg_orang);
    height: 6rem;
    align-items: center;
    display: flex;
}

.logo {
    height: 80%;
    margin: 0;
    margin-left: 2rem;
}

.noodlesImg {
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    background-color: var(--bg_whitesmoke);
    margin-top: 10rem;
    object-fit: cover;
}

.containerRestaurantImg {
    background-image: url("./assets/img/restaurant.jpg");
    height: 15rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.restoranteName,
.categories {
    margin: 0 2rem;
}

.restoranteName p {
    font-size: 20px;
    margin: 0;
}

.restoranteName h1 {
    font-size: 35px;
}

.restoranteName p {
    color: var(--bg_orang);
}

.categories img {
    width: 60px;
}

.arrow a {
    font-size: 20px;
    font-weight: bold;
    color: var(--bg_grey);
    text-decoration: none;
    margin-left: 10px;
}

.arrow {
    padding-bottom: 2rem;
}

.dishImg {
    background-image: url("./assets/img/dish.jpg");
    height: 12rem;
    width: 100%;
    object-fit: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.mainCourses {
    margin: 0 2rem;
}

.dish {
    border: 1px dashed var(--bg_orang);
}

.dishHeader {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
}

.imgPlus {
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
}

.dishHeaderBtn,
#btnBasket {
    border: none;
}

.basketWidth {
    padding: 100px;
    margin: 10px;
    width: 90% !important;
}

.btnBasketDeleteDish {
    border: none;
}

#ingredients {
    font-size: 20px;
    margin: 0;
}

#price {
    margin: 20px 0;
    color: var(--bg_orang);
    font-size: 22px;
    font-weight: bold;
}

.visibleScrollbar::-webkit-scrollbar {
    width: 10px;
}

.visibleScrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px var(--bg_grey);
    border-radius: 10px;
}

.visibleScrollbar::-webkit-scrollbar-thumb {
    background: var(--bg_orang);
    border-radius: 10px;
    cursor: pointer;
}

.visibleScrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--bg_darkorange);
    cursor: pointer;
}

.content-wrapper {
    width: 100%;
    /*bei Kevin: keine Breite + flex-grow: 1; */
    display: flex;
    flex-direction: row;
}

.basketWrapper {
    /* bei Kevin width: 300px + flex-grow: 1; */
    border: 2px solid var(--bg_orang);
    border-bottom: none;
    padding: 16px;
}

.basket {
    width: 320px;
    /* bei Kevin 100% */
    min-height: 300px;
    border: 2px dashed var(--bg_orang);
    position: relative;
    /* geklebte Position */
    top: 0;
    padding: 16px;
}

.portionInformation,
.insertedDish {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headingBasket {
    text-align: center;
    margin: 16px 0;
}

.buttonMinus img,
.buttonPlus img {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.quantity {
    height: 32px;
    padding: 0 10px;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.buttonMinus,
.buttonPlus {
    border: none;
    cursor: pointer;
}

.priceOfTheDish {
    color: var(--bg_orang);
    font-size: 22px;
    font-weight: bold;
}

.deleteSelectedDish {
    width: 32px;
    cursor: pointer;
}

#btnBasket {
    background-color: var(--bg_darkorange);
    cursor: pointer;
    width: 100%;
    height: 100px;
    color: var(--bg_milck);
    border: 1px solid var(--bg_orang);
    font-size: 2.2rem;
    position: sticky;
    bottom: 0;
    cursor: pointer;
}

#btnBasket:hover {
    background-color: var(--bg_orang);
    border: 1px solid var(--bg_darkorange);
}

.showBasketOverlay {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg_milck);
}

#closeBasketBtn {
    width: 50px;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

#closeBasketBtn img {
    width: 100%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.displayNone {
    display: none;
}

@media (max-width: 1070px) {
    .basketWrapper {
        display: none;
    }
}

@media (min-width: 1070px) {
    #btnBasket {
        display: none;
    }
}