@font-face {
    font-family: 'DynaPuff';
    src: url('../assets/fonts/DynaPuff/static/DynaPuff_SemiCondensed-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DynaPuff';
    src: url('../assets/fonts/DynaPuff/DynaPuff-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}